body {
    background-color: #111;
    color: white;
}

.wolf {
    --top: 50vh;
    --left: 50vw;

    top: var(--top);
    left: var(--left);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.wolf-menu-items {
    position: relative;
    width: 100%;
    height: 100%;
}

.wolf-menu-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    word-break: keep-all;
    text-align: center;

    position: absolute;
    transform: translate(-50%, -50%);
}

.wolf-menu-item.selected {
    color: rgba(128, 0, 255, var(--alpha, 0));
}

.wolf-menu-item.wolf-menu-item-cancel.selected {
    color: #800019;
}