name: Build

on:
  push:
    branches:
      - master
    tags:
      - "*"

  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: wxn0brP/rusalka@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
